@import 'styles/';

.container {
  overflow: hidden;
  border-radius: $borderRadiusComplete;
  border: 0.2rem solid $gray;

  img {
    width: 100%;
    margin-top: 50%;
    transform: translateY(-50%);
  }
}

.large {
  width: 9.2rem;
  height: 9.2rem;
}

.medium {
  width: 4.6rem;
  height: 4.6rem;
}

.small {
  width: 3.2rem;
  height: 3.2rem;
}
