@import 'styles/';

.navigationItem {
  color: $dark-gray;
  font-weight: 500;
  font-size: 1.4rem;
  font-family: 'Roboto';
  text-transform: uppercase;
  display: flex;
  line-height: 1.2rem;
  
  svg {
    flex-shrink: unset;
    width: 1.3rem;
    height: 1.3rem;
  }
  p {
    margin-left: .8rem;
  }
}