@import 'styles/';

.homePage {
  padding: 2rem;
  height: 66.7rem;
  background-image: url("https://images.unsplash.com/photo-1524416117929-2dd85b124635?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1230&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 50%;
}

.headMessage {
  font-family: 'Roboto';
  font-size: 4.8rem;
  font-weight: 800;
  line-height: 1.4;
  margin-top: 8.4rem;
  color: $white;
}

.subMessage {
  font-family: 'Roboto';
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  margin-top: 8rem;
  color: $white;
}

.logo {
  a {
    display: inline-block;
  }
  a, svg {
    width: 15vh;
  }
}

.button {
  display: flex;
  flex-direction: column;
  margin-top: 12rem;
  button {
    margin: 1rem;
    padding: 1.2rem 2rem;
    text-align: left;
    font-weight: 700;
    font-size: 1.4rem;
    border: none;
  }
}