@import 'styles/';

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  background-color: $white;
  background-size: cover;
  background-position-x: 50%;
  background-repeat: no-repeat;
  font: 1rem/1.5 'Roboto', sans-serif;
}
