@import 'styles';

.container {
  // width: 39vw;
  width: 45vw;
  height: 50vw;

  @include rounded-box-shadow($border-radius-small);

  overflow: hidden;
}

.imageContainer {
  // height: 25vw;
  height: 31vw;
  overflow: hidden;
}

.image {
  width: 100%;
}

.textContainer {
  padding: 1rem 1rem;

  background-color: $white;
}

.title {
  width: 100%;
  margin-bottom: 0.5rem;

  @include font-dark-14-700;
  @include ellipsis;
}

.time {
  margin-right: 6%;

  @include font-gray-12-400;
}
