@import 'styles';

.areaComponent {
  background-color: $white;
  padding: 1.6rem 2rem;
  color: $dark-gray;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 1.4rem;
}
