@import 'styles/';

.selectBoxInput {
  @include flex(space-between, center, row, nowrap);
  border-radius: 10px;
  box-shadow: $box-shadow;
  width: 30vw;

  input {
    border: none;
    border-radius: 10px 0 0 10px;
    width: 100%;
    padding: 1em 1.4em;
    color: $dark-gray;
    font-size: 1.2rem;
  }

  button {
    padding: 0.8em;
    margin-right: 0.5em;
  }
}

.selectBoxList {
  width: 30vw;
  max-height: 18rem;
  overflow-y: scroll;
  position: absolute;
  background-color: $white;
  border-radius: 10px;
  box-shadow: $box-shadow;

  z-index: 100;

  li {
    border-top: 1px solid $light-gray;
    width: 100%;

    &:hover {
      background-color: rgba($color: $light-gray, $alpha: 0.2);
    }

    button {
      @include flex(center, left, column, wrap);
      color: $dark-gray;
      font-size: 1.2rem;
      padding: 0.8rem 1.5rem;
      width: 100%;
      // height: 100%;
    }
  }
}
