@import 'styles/';

.selectDateBox {
  @include flex(space-between, center, row, nowrap);
  box-shadow: $boxShadow;
  padding: 0.8em 1.5em;
  border-radius: 1rem;

  input {
    font-size: 1.2rem;
    color: $darkGray;
    background: transparent;
    border: none;
    width: 100%;
  }

  svg {
    margin-left: 0.5rem;
    vertical-align: -10%;
  }
}
