@import 'styles/';

.selectDateBox {
  display: block;
  font-size: 1.2rem;
  color: $dark-gray;
  border: none;
  border-radius: 1rem;
  box-shadow: $box-shadow;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
}

.selectDateIcon {
  margin-left: 0.5rem;
  vertical-align: -10%;
}
