@import 'styles/';

.selectDateBox {
  @include flex(space-between, center, row, nowrap);
  @include rounded-box-shadow(1rem);
  padding: 0.8em 1.5em;

  input {
    font-size: 1.2rem;
    color: $dark-gray;
    background: transparent;
    border: none;
    width: 100%;
  }

  svg {
    margin-left: 0.5rem;
    vertical-align: -10%;
  }
}
