@import 'styles';

.button {
  padding: 1rem 2.8rem;
  color: $white;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.5rem;
  border-radius: $border-radius-large;
  box-shadow: $box-shadow;
  border: none;
  box-sizing: border-box;
  outline-color: $primary;
}

.primary {
  background-color: $primary;
}

.secondary {
  background-color: $white;
  border: 0.1rem solid $primary;
  color: $primary;
}

[disabled] {
  background-color: $gray;
  border: none;
  color: $white;

  &:hover {
    cursor: not-allowed;
  }
}
