@import 'styles/';

.title {
  color: $darkGray;
  font-size: 1.2rem;
  font-weight: 700;
}

.applicantContainer {
  @include flex-row(flex-start);
  margin-top: 1.2em;
}

.applicant {
  margin-right: 1.2em;
}
