@import 'styles';

.footerContainer {
  width: 100vw;
  padding: 3em 4.5em;

  background-color: $very-light-gray;

  p {
    font-size: 2rem;
  }
}

.menuContainer {
  margin-top: 2rem;

  @include font-dark-12-700;

  li {
    margin-top: 1.2em;

    text-indent: 0.4rem;

    a {
      @include font-dark-12-400;
    }
  }
}
