@import 'styles';

.container {
  width: 85vw;

  margin: 0 auto;
}

.publisherInformationContainer {
  margin-bottom: 3em;
}

.headingContainer {
  margin-bottom: 2em;
  padding: 1em;
}

.contentsContainer {
  margin-bottom: 5em;
  overflow: hidden;

  li {
    float: left;

    margin-right: 1em;
    margin-bottom: 1em;

    line-height: 1.8rem;
  }
}

.statusOfRecruitees {
  margin-bottom: 8em;
}

.buttonContainer {
  @include flex-center-center;
}
