@import 'styles';

.container {
  @include flex(left, center, row, wrap);
  width: 85vw;
  padding: 0.8em 1em;

  @include rounded-box-shadow($border-radius-small);

  background-color: $white;
}

.postInfo {
  @include flex(center, left, column, wrap);
  flex-grow: 1;

  min-width: 0;
  width: 70%;

  margin-left: 2%;
}

.title {
  width: 100%;

  @include font-dark-14-700;

  @include ellipsis;
}

.tagList {
  @include flex(normal, center, row, wrap);
  margin-top: 0.3em;

  div {
    margin-right: 0.3em;

    span {
      font-size: 1rem;
    }
  }
}
