@import 'styles';

.container {
  @include flex(left, center, row, wrap);
  padding: 0.8em 1em;

  border-radius: $borderRadiusSmall;
  box-shadow: $boxShadow;
}

.postInfo {
  @include flex(center, left, column, wrap);
  flex-grow: 1;

  min-width: 0;
  width: 70%;

  margin-left: 2%;
}

.title {
  width: 100%;

  color: $darkGray;
  font-size: 1.4rem;
  font-weight: 700;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tagList {
  @include flex(normal, center, row, wrap);
  margin-top: 0.3em;

  div {
    margin-right: 0.3em;

    span {
      font-size: 1rem;
    }
  }
}
