@import 'styles';

.carousel {
  width: 32rem;
  height: 17rem;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}

.contents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 160rem;
  --currentSlide: 0;
  --duration: 1000;
  transition: transform calc(var(--duration) * 1ms) ease-out;
  transform: translate3D(calc(var(--currentSlide) * -20%), 0, 0);
}

.slide {
}

.navigators {
  position: absolute;
  bottom: 1.5rem;
  right: 2rem;
  width: 10rem;
  display: flex;
  
} 

.button {
  margin-top: .3rem;
  margin-right: .5rem;
  margin-left: .2rem;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  outline: none;
  background-color: rgba(255, 255, 255, .5);
  color: rgba(0, 0, 0, 0);
  
  &:hover {
    background-color: $white;
    transition: .5s;
  }
}