@import 'styles/variables.scss';

.container {
  display: inline-block;
  max-width: 85vw;
  padding: 0.8em 1em;

  border-radius: 1.8em;
  box-shadow: $boxShadow;

  color: $darkGray;
  font-size: 1.2rem;
}
