@import 'styles/';

.header {
  height: 4.4rem;
  padding: 1em 2em;
  background-color: $white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;

  h1 {
    position: absolute;
    top: 0.5em;
    left: 50%;
    transform: translateX(-50%);

    svg {
      height: 3rem;
    }
  }

  button {
    background-color: transparent;
    padding: 0;
    box-shadow: none;
  }
}

.closeButton {
  float: left;
}

.menuButton {
  float: right;
  margin-top: 0.3rem;
}

.navBackground {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate3d(100vw, 0, 0);
  z-index: 90;
}

.nav {
  background-color: $white;
  width: 75vw;
  height: 100vh;
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  transform: translate3d(100vw, 0, 0);
  transition: 1s;
  border-radius: 2rem 0rem 0rem 2rem;

  .menu {
    margin-top: 10rem;
    margin-left: 3.3rem;
  }

  .navMenu {
    margin-top: 4rem;

    li {
      margin-top: 2.3rem;
    }
  }

  .signoutButton {
    position: absolute;
    bottom: 3.8rem;
    right: 3rem;

    svg {
      width: 1.6rem;
      height: 1.6rem;
    }

    span {
      margin-left: 0.5rem;
      color: $red;
      font-family: 'Roboto';
      font-size: 1.6rem;
      font-weight: 500;
      text-transform: uppercase;
    }
  }

  .navCloseButton {
    position: absolute;
    top: 1.8rem;
    right: 1.8rem;
  }
}

.activeBg {
  transform: translate3d(-5vw, 0, 0);
}

.activeNav {
  transform: translate3d(0, 0, 0);
  position: fixed;
}
