@import 'styles/';

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em 2em;

  background-color: $white;

  h1 svg {
    height: 3rem;
  }

  button {
    background-color: transparent;
    padding: 0;
    box-shadow: none;
  }
}
