@import 'styles';

.container {
  position: relative;
}

.radioButton {
  opacity: 0;
}

.label {
  @include flex(flex-start, center, row, wrap);

  @include font-dark-12-400;

  svg {
    width: 1.2em;
    height: 1.2em;
  }
}

.icon {
  margin-right: 0.3em;
}
