@import 'styles';

.container {
  position: relative;
}

.radioButton {
  @include defaultPosition;

  opacity: 0;
}

.label {
  @include defaultPosition;
  @include flex(flex-start, center, row, wrap);

  color: $darkGray;
  font-size: 1.2rem;
}

.icon {
  margin-right: 0.3em;
}
