@import 'styles';

.container {
  position: relative;
}

.checkbox {
  @include default-position;
  z-index: 100;

  width: 1.5em;
  height: 1.5em;

  margin: 0;

  opacity: 0;
}

.label {
  @include default-position;
}
