@import 'styles/';

.rangeSliderContainer {
  @include flex(center, center, row, nowrap);
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
}

.numberInputContainer {
  @include flex(center, center, row, nowrap);
  // margin-top: 3rem;
  margin-right: 1.2rem;

  span {
    white-space: nowrap;
  }
}

.numberInput {
  // width: 5rem;
  padding: 0.8rem;
  margin-left: 0.8rem;
  border-bottom: 0.1rem solid $lightGray;
  box-shadow: none;
  font-size: 1.2rem;
  color: $darkGray;

  &:hover {
    border-bottom: 0.1rem solid rgba($color: $lightGray, $alpha: 1);
  }

  &:focus {
    border-bottom: 0.1rem solid $darkGray;
    outline: none;
  }
}
