@import 'styles/';

.rangeSliderContainer {
  @include flex(flex-start, center, row, nowrap);
  margin-top: 2rem;
  width: 50vw;
}

/*
.numberInputContainer {
  @include flex(center, center, row, nowrap);
  // margin-top: 3rem;
  margin-right: 1.2rem;

  span {
    white-space: nowrap;
  }
}

.numberInput {
  // width: 5rem;
  padding: 0.8rem;
  margin-left: 0.8rem;
  border-bottom: 0.1rem solid $light-gray;
  box-shadow: none;
  font-size: 1.2rem;
  color: $dark-gray;

  &:hover {
    border-bottom: 0.1rem solid rgba($color: $light-gray, $alpha: 1);
  }

  &:focus {
    border-bottom: 0.1rem solid $dark-gray;
    outline: none;
  }
}
*/
