@import 'styles';

.mainPage {
  margin: 0;
  padding: 0;
  width: 100vw;
}

.searchSection {
  @include flex(space-between, flex-start, column, wrap);
  padding: 2.5rem;
  min-height: 70vh;
  background-image: url('./image/mainSearch.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.headMessage {
  font-size: 3.4rem;
  font-weight: 800;
  line-height: 1.4;
  color: $white;
}
