@import './variables.scss';
@import './mixin.scss';

html {
  font-size: 10px;
}

main {
  width: 85vw;
  margin: 5em auto;
}

.a11yHidden {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  clip-path: polygon(0 0, 0 0, 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  white-space: nowrap;
}

// scroll style
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: $light-gray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: $dark-gray;
}

::-webkit-scrollbar-thumb:active {
  background: $primary;
}

::-webkit-scrollbar-button {
  display: none;
}

a,
button,
input,
textarea,
select {
  outline: none;
}

h2 {
  @include font-page-heading;

  margin-bottom: 1em;
}
