@import './variables.scss';
@import './mixin.scss';

html {
  font-size: 10px;
  color: $dark-gray;
}

main {
  width: 85vw;
  margin: 6rem auto 10rem;

  h2 {
    text-transform: uppercase;
    @include font-page-heading;
    padding-bottom: 2rem;
    margin-bottom: 4rem;
    border-bottom: 1px solid $light-gray;
  }
}

form {
  > div {
    margin-bottom: 5rem;
  }
}

.buttonContainer {
  @include flex-row(center);
  padding-top: 2rem;

  button:first-child {
    margin-right: 2rem;
  }
}

a {
  color: $dark-gray;
}

img {
  display: block;
}

.a11yHidden {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  clip-path: polygon(0 0, 0 0, 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  white-space: nowrap;
}

// scroll style
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: $light-gray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: $dark-gray;
}

::-webkit-scrollbar-thumb:active {
  background: $primary;
}

::-webkit-scrollbar-button {
  display: none;
}

a,
button,
input,
textarea,
select {
  outline: none;
}
