$primary: #fc7145;
$dark-gray: #727681;
$gray: #ced3e3;
$light-gray: rgba(206, 211, 227, 0.6);
$very-light-gray: rgba(206, 211, 227, 0.2);
$white: #fff;
$red: #fa5252;
$blue: #4c6ef5;
$violet: #7950f2;
$cyan: #1098ad;

$box-shadow: 0.1rem 0.2rem 1rem rgba(206, 211, 227, 0.4);

$border-radius-complete: 50%;
$border-radius-small: 1rem;
$border-radius-medium: 1.5rem;
$border-radius-large: 2rem;
