$primary: #fc7145;
$darkGray: #727681;
$gray: #ced3e3;
$lightGray: rgba(206, 211, 227, 0.6);
$white: #fff;
$red: #fa5252;
$blue: #4c6ef5;
$violet: #7950f2;
$cyan: #1098ad;
$inputBoxShadow: 1px 2px 10px rgba(206, 211, 227, 0.4);
