$primary: #fc7145;
$darkGray: #727681;
$gray: #ced3e3;
$lightGray: rgba(206, 211, 227, 0.6);
$white: #fff;
$red: #fa5252;
$blue: #4c6ef5;
$violet: #7950f2;
$cyan: #1098ad;

$boxShadow: 0.1rem 0.2rem 1rem rgba(206, 211, 227, 0.4);

$borderRadiusComplete: 50%;
$borderRadiusLarge: 1rem;
$borderRadiusMedium: 1.5rem;
$borderRadiusSmall: 2rem;
